p{
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300 ;
}

h1{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 70px;
    font-weight: 700;
}
h3{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

h2{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    
}

h4{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.nav{
    position: sticky;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 11% 11% 11%;
    grid-template-areas: "logo work about";
    flex-direction: row;
    align-items: flex-start;
   
    height: 100px;
    top: 0px;
    padding-top: 20px;
    background-color: white;
    z-index: 150;
}

.nav img{
    display: flex;
    position: relative;
    align-content: flex-start;
    width: 46px;
    height: 90px;
    left: 101px;
    top: 8px;   
}

.nav a{
display: flex;
position: relative;
height: 72px;
top: 33px;
align-items: center;
text-decoration: none;
margin-left: 16px;
margin-right: 16px;
font-family:'Open Sans Condensed', sans-serif;
font-size: 25px;
font-weight: 700;
color: black;
}

.nav .work{
    grid-area: work;
}
.nav .about{
    grid-area: about;
}
.nav img{
    grid-area: logo;
}


.header{
position: relative;
top: 30px;
display: grid;
height: 143px;
align-items: center;
flex-direction: row;
margin-right: 80px;
margin-left: 80px;
grid-template-rows: 100%;
grid-template-columns: 66% 33%;
grid-template-areas: "h1 p";
}

.header h1{
    grid-area: h1;
  margin-right: 14px;
    font-size: 70px;
    width: 100%;
}

.header p{
    position: relative;
    top: 35px;
    grid-area: p;
    width: 100%;
    height: 143px;
    margin-left: 14px;
    align-items: center;

}


.work{
    position: relative;
    top: 28px;
    display: grid;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px; 
    grid-template-rows: 100%;
grid-template-columns: 33% 33% 33%;
grid-template-areas: "box1 box2 box3";
}
.box1{ 
grid-area: box1;

}
.box2{ 
    grid-area: box2;
    }
.box3{ 
    grid-area: box3;
        }
.box1, .box2, .box3 {
    position: relative;
    height: 389px;
    top: 28px;
    margin: 10px;
}

.box1 img, .box2 img, .box3 img{
    width: 100%;
    height: auto;
}
 
.text{
    position: relative;
    top: -105px;
text-align: center;
height: 80px;
color: black;
}

.box1 h3, .box2 h3, .box3 h3{
    position: relative;
    top: 20px;
}
.box1 .text{
    background-color:rgb(157,127,168,0.3);
}



.box2 .text{
    background-color:rgb(152,183,113,0.3);
}

.box3 .text{
    background-color:rgb(65,75,113,0.3);
}
.skills{
    position: relative;
height: 78px;
top: 200px;
    display: grid;
    text-align: center;
    grid-template-rows: 78px 34px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin-right: 80px ;
    margin-left: 80px;
    grid-template-areas: 
    "h4 block1 block2 block3 block4"
    "h4 block5 block6 block7 block8";
  
    
}

.skills h2{
    grid-area: h4;
    align-items: center;
}
.block1{
    grid-area: block1;
    align-items: center;
}
.block2{
    grid-area: block2;
    align-items: center;
}
.block2{
    grid-area: block3;
    align-items: center;
}
.block4{
    grid-area: block4;
    align-items: center;
}
.block5{
    grid-area: block5;
    align-items: center;
    position: relative;
    top: -20px;
}
.block6{
    grid-area: block6;
    align-items: center;
    position: relative;
    top: -20px;
}
.block7{
    grid-area: block7;
    align-items: center;
    position: relative;
    top: -20px;
}
.block8{
    grid-area: block8;
    align-items: center;
    position: relative;
    top: -20px;
}
.footer{
    position: relative;
    left: -20px;
    background-color: #616161;
    width: 2000vmin;
    color: white;
height: 140px;
top: 500px;
}

.footer img{
    position: relative;
    height: 34.38px;
    width: 34.38px;              
    left: 100px;
    top: 37px;
    }              

.footer a{
    display: flex;
 position: relative;
 left: 140px;
 top: 3px;
text-decoration: none;
color: white;
font-family:'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.footer p{
    display: flex;
    position: relative;
    left: 1500px;
    top: -36px;
}

.animate1{
    animation: workup1;
}
@keyframes workup1 {
    0%   {background-color:rgb(143,115,153,1); color:white;}
    50%  {background-color:rgb(157,127,168,0.66);}
    100% {background-color:rgb(143,115,153,1); color:white;}
}
@media only screen and (max-width: 600px) {
    .work{ position: relative;
        top: 80px;
        display: grid;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px; 
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
    grid-template-areas: "box1" 
    "box2" 
    "box3";}
    .header{
        position: relative;
        top: 50px;
        display: grid;
        height: 143px;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "h1"
        "p";
        }
        .header h1{
            margin-right: 20px;
            margin-left: 16px;
            font-size: 40px;}
        .header p{
            top: 60px;
        
        }
        .skills{
            position: relative;
        top: 150px;
            display: grid;
            text-align: center;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 3fr;
            margin-right: 20px ;
            margin-left: 20px;
            grid-template-areas: 
            "h4 block1"
            "h4 block2" 
            "h4 block3" 
            "h4 block4"
            "h4 block5"
            "h4 block6"
            "h4 block7" 
            "h4 block8";
          
            
        }
        .skills h2{ font-size: 25px;}
        

        .footer{
            position: relative;
            left: -20px;
            background-color: #616161;
            width: 900vmin;
            color: white;
        height: 140px;
        top: 1000px;
        }
        
        .footer img{
            position: relative;
            height: 34.38px;
            width: 34.38px;              
            left: 40px;
            top: 37px;
            }              
        
        .footer a{
            display: flex;
         position: relative;
         left: 100px;
         top: 3px;
        text-decoration: none;
        color: white;
        font-family:'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 300;
        }
        
        .footer p{
            display: flex;
            position: relative;
            left: 40px;
            top: -6px;
        }    
.nav{
    position: sticky;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "logo work about";
    flex-direction: row;
    align-items: flex-start;
}
.nav img{
position: relative;
left: 30px;

}
        
}